.App {
  text-align: center;
  overflow-x: hidden;
  background-color: #dff1f2;
}

.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(42, 43, 43, 0.3) 5px 8px 24px;
  padding: 1em;
}

.revenueCard {
  width: 92%;
  height: 20rem;
}

.customerCard {
  width: 50%;
  height: 20rem;
}

.categoryCard {
  width: 40%;
  height: 20rem;
}

.leftDataCard{
  margin-left: 3%;
  margin-right: 3%;
}

.secondRow{
  margin-top: 50px!important
}


.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-1 {
  text-align: center;
}

select {
  width: 150%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* margin-top: 5px; */
  font-size: 14px!important;
  margin-right: 25px!important;
  box-shadow: rgba(42, 43, 43, 0.2) 5px 8px 24px;;
  margin-bottom: 10%!important;
}

label {
  font-size: 14px;
}

.abbr {
  text-decoration: underline;
  cursor: pointer;
}

